@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Nunito:wght@300&family=Righteous&family=Sarala&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Nunito', sans-serif;
  font-family: 'Righteous', cursive;
  font-family: 'Sarala', sans-serif;
}

html {
  font-size: 62.5%;
}

h5 {
  font-size: 3rem;
}

h4 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.4rem;
}

h1 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
}

span {
  font-size: 1.4rem;
  font-weight: 400;
}